<style type="text/css">
  blockquote {
    background-color: black;
    color: white;
    padding: 0 1em;
  }
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primaryColor);
  }
</style>
<h2>Adding an 'Any Page'</h2>

<p>This example will demonstrate creating a new page called 'Spotlight On'.</p>

<p>It will list people and documents related to a term specified in the 'subject' query parameter. It will illustrate:</p>
<ul>
  <li>Query and template pairing</li>
  <li>Use of existing web components</li>
  <li>Use of custom css</li>
</ul>

<p>
  Both the template and query files will live in 'templates/any_pages'. Their filenames must match and use the following extensions:
  <ul>
    <li>Query: .graphql</li>
    <li>Template: .html</li>
  </ul>
</p>

<p>In our case, they will be: spotlight_on.graphql and spotlight_on.html</p>

<ol>
<li>
    <h3>Define a Query</h3>
    <p>
      Use the GraphQL Playground in scholars-discovery to develop a query containing the data that you'd like to display.
    </p>
    <p>
      For the demonstration, place the following in <em>templates/any_pages/spotlight_on.graphql</em>:
    </p>
    <blockquote>
      <xmp><%= raw(`
query($subject: String!) {
  documentsSearch (
    query: $subject;
    paging: { pageNumber: 0, pageSize: 10 }
  ) {
    content {
       id
       title
       publicationDate
       authors {
        id
        label
      }
    }
  }
  people (
    query: $subject
    paging: { pageNumber: 0, pageSize: 10 }
  ) {
    content {
       id
       name
       preferredTitle
    }
  }
}
        `) %>
      </xmp>
    </blockquote>
  </li>
  <li>
    <h3>Define a Template</h3>
    <p>
      Templates are processed with <a href="https://gobuffalo.io/en/docs/templating/">Plush</a>.
    </p>
    <p>
      The query result will be available in the 'data' variable. Data is a Go map structured identically to the GraphQL query result. Any query parameters will be available in String variables with matching names ('subject' in our case).
    </p>
    <p>
      Place the following in <em>templates/any_pages/spotlight_on.html</em>:
    </p>
    <blockquote>
      <xmp><%= raw(`
<h2>Spotlight on: <%= subject %></h2>

<h3>People</h3>
<ul class="spotlight-list">
<%= for (p) in data["people"]["content"] { %>
  <li>
    <a href="/entities/person/<%= p["id"] %>">
      <strong><%= p["name"] %></strong>,
      <%= p["preferredTitle"] %>
    </a>
  </li>
<% } %>
</ul>

<h3>Publications</h3>
<vivo-publication-list>
<%= for (d) in data["documentsSearch"]["content"] { %>
  <vivo-publication publication-url="/entities/publication/<%= d["id"] %>">
    <div slot="title"><%= d["title"] %></div>
    <span slot="date"><%= FormatGraphqlDateForSitemap(d["publicationDate"]) %></span>
    <vivo-publication-author-list slot="authors">
      <%= for (a) in d["authors"] { %>
       <vivo-publication-author profile-url="/entities/person/<%= a["id"] %>">
         <%= a["label"] %>
       </vivo-publication-author>
      <% } %>
    </vivo-publication-author-list>
  </vivo-publication>
<% } %>
</vivo-publication-list>
        `) %>
      </xmp>
    </blockquote>
    <p>
      Then navigate to <a href="/pages/spotlight_on?subject=mustard">/pages/spotlight_on?subject=mustard</a>
    </p>
  </li>
  <li>
    <h3>Add Custom (S)CSS</h3>
    <p>
      Custom styles can be specified in 'assets/css/theme.scss'
    </p>
    <p>
      This file is processed with <a href="https://sass-lang.com/">SASS</a> and can accept CSS or SASS style directives. It will be loaded after all default styles to allow both additions and overrides.
    </p>
    <p>
      Place the following in <small><em>assets/css/theme.scss</em></small>:
    </p>
    <blockquote>
      <xmp><%= raw(`
.spotlight-list {
  padding: 0;
  list-style: none;
  li {
    border: 1px solid var(--lightNeutralColor);
    border-left: 3px solid var(--secondaryHighlightColor);
    padding-left: 0.5em;
    margin: 0.25em;
    strong {
      color: var(--primaryColor) !important;
      font-size: 1.2em;
    }
  }
  a {
    display: block;
  }
}
      `) %>
      </xmp>
    </blockquote>
    <p>
      Then refresh your new page <a href="/pages/spotlight_on?subject=mustard">/pages/spotlight_on?subject=mustard</a>
    </p>
  </li>
  <li>
    <h3>Test Parameter Passing</h3>
    <p>Update the value of 'subject' in the query string to see results for different terms:</p>
    <ul>
      <li><a href="/pages/spotlight_on?subject=biochemistry">biochemistry</a></li>
      <li><a href="/pages/spotlight_on?subject=mathematics">mathematics</a></li>
      <li><a href="/pages/spotlight_on?subject=public%20policy">public policy</a></li>
    </ul>
  </li>
</ol>
<br>
