<style type="text/css">
  .colors {
    display: grid;
    grid-template-columns: 200px auto;
    grid-row-gap: 1em;
  }
  .color {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 1px solid lightgrey;
  }
  .swatch {
    display: block;
    width: 100%;
    height: 150px;
    color: white;
    font-size: 25px;
    line-height: 150px;
    text-align: center;
  }
  .title {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
  }
  .description {
    box-sizing: border-box;
    border: 1px solid lightgray;
    height: 200px;
    padding: 1em;
  }
  dl {
    display: flex;
    flex-flow: row wrap;
  }
  dt {
    width: 10%;
  }
  dt:after {
    content: ':';
  }
  dd {
    width: 90%;
  }
</style>
<h2>Color Palette</h2>
<div class="colors">
  <div class="color">
    <div class="swatch" style="background-color: var(--primaryColor)">
      <%= ThemeVariable("primaryColor") %>
    </div>
    <div class="title">
      Primary
    </div>
  </div>
  <div class="description">
    <p>Used for site header background color and main header text color.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--primaryColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("primaryColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_PRIMARY_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--highlightColor)">
      <%= ThemeVariable("highlightColor") %>
    </div>
    <div class="title">
      Highlight
    </div>
  </div>
  <div class="description">
    <p>Used for visually accented text, borders or buttons.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--highlightColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("highlightColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_HIGLIGHT_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--highlightBackgroundColor)">
      <%= ThemeVariable("highlightBackgroundColor") %>
    </div>
    <div class="title">
      Highlight Background
    </div>
  </div>
  <div class="description">
    <p>Used for visually accented backgrounds.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--highlightBackgroundColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("highlightBackgroundColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_HIGHLIGHT_BACKGROUND_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--secondaryHighlightColor)">
      <%= ThemeVariable("secondaryHighlightColor") %>
    </div>
    <div class="title">
      Secondary Highlight
    </div>
  </div>
  <div class="description">
    <p>Used for visually accented labels.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--secondaryHighlightColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("secondaryHighlightColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_SECONDARY_HIGHLIGHT_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--linkColor)">
      <%= ThemeVariable("linkColor") %>
    </div>
    <div class="title">
      Link
    </div>
  </div>
  <div class="description">
    <p>Used for regular document links.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--linkColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("linkColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_LINK_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--textColor)">
      <%= ThemeVariable("textColor") %>
    </div>
    <div class="title">
      Text
    </div>
  </div>
  <div class="description">
    <p>Used for main site text and secondary tab and dropdown borders.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--textColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("textColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_TEXT_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--darkNeutralColor)">
      <%= ThemeVariable("darkNeutralColor") %>
    </div>
    <div class="title">
      Dark Neutral
    </div>
  </div>
  <div class="description">
    <p>Used for assorted backgrounds, borders and text.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--darkNeutralColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("darkNeutralColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_DARK_NEUTRAL_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--mediumNeutralColor); color: black;">
      <%= ThemeVariable("mediumNeutralColor") %>
    </div>
    <div class="title">
      Medium Neutral
    </div>
  </div>
  <div class="description">
    <p>Used for assorted backgrounds, borders and text.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--mediumNeutralColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("mediumNeutralColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_MEDIUM_NEUTRAL_COLOR</dd>
    </dl>
  </div>
  <div class="color">
    <div class="swatch" style="background-color: var(--lightNeutralColor); color: black;">
      <%= ThemeVariable("lightNeutralColor") %>
    </div>
    <div class="title">
      Light Neutral
    </div>
  </div>
  <div class="description">
    <p>Used for assorted backgrounds and borders.</p>
    <dl>
      <dt>CSS</dt>
      <dd>var(--lightNeutralColor)</dd>
      <dt>Template</dt>
      <dd><%= "<%= " %>ThemeVariable("lightNeutralColor")<%= " %>" %></dd>
      <dt>ENV</dt>
      <dd>THEME_LIGHT_NEUTRAL_COLOR</dd>
    </dl>
  </div>
  </div>
</div>
