<style type="text/css">
    dl {
        display: flex;
        flex-flow: row wrap;
    }

    dt {
        width: 25%;
    }

    dt:after {
        content: ':';
    }

    dd {
        width: 75%;
    }
    .minimal-icon {
        font-size: 0.75em; 
        color: gray;
    }
</style>
<h2>Icons</h2>
<dl>
    <dt>Link</dt>
    <dd>
        <span class="minimal-icon">
            <i class="fas fa-link"></i>
        </span>
    </dd>
    <dt>Quote Left</dt>
    <dd>
        <span class="minimal-icon">
            <i class="fas fa-quote-left"></i>
        </span>
    </dd>
    <dt>Open Access</dt>
    <dd>
        <span class="minimal-icon">
            <i class="fas fa-unlock-alt"></i>
        </span>
    </dd>
    <dt>Full Text</dt>
    <dd>
        <span class="minimal-icon">
            <i class="fas fa-file-alt"></i>
        </span>
    </dd>
</dl>
