<h3>Truncated Text</h3>
<vivo-truncated-text>
  Short one, no need to truncate
</vivo-truncated-text>

<vivo-truncated-text>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 
    1500s, when an unknown printer took a galley of type and scrambled it 
    to make a type specimen book. It has survived not only five centuries, 
    but also the leap into electronic typesetting, remaining essentially 
    unchanged. It was popularised in the 1960s with the release of Letraset 
    sheets containing Lorem Ipsum passages, and more recently with desktop 
    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</vivo-truncated-text>

<vivo-truncated-text>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  Lorem Ipsum has been the industry's standard dummy text ever since the 
</vivo-truncated-text>

<vivo-publication publication-url="/entities/publication/m9.figshare.3080539" style="display: block;">
                  <div slot="title">FRED, a Software Tool to Improve Reuse of Scientific Data</div>
                  <vivo-publication-author-list slot="authors" displayed-author-count="2">
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
                        Conlon, Mike
                     </vivo-publication-author>
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
                        Conlon, Michael
                     </vivo-publication-author>
                     
                  </vivo-publication-author-list>
                  
                  <span slot="date">2016-03-01</span>
                  
                  <vivo-truncated-text slot="abstract">
                    Application for the 2016 Open Science Prize
                  </vivo-truncated-text>
                  
               </vivo-publication>

<vivo-publication publication-url="/entities/publication/m9.figshare.5056813" style="display: block;">
                  <div slot="title">Clinical and Translational Science and the  UF Clinical and Translational Science Institute (CTSI)</div>
                  <vivo-publication-author-list slot="authors" displayed-author-count="2">
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
                        Conlon, Mike
                     </vivo-publication-author>
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
                        Conlon, Michael
                     </vivo-publication-author>
                     
                  </vivo-publication-author-list>
                  
                  <span slot="date">2017-05-31</span>
                  
                  <vivo-truncated-text slot="abstract">
                    Presentation to the Translational and Development Program July 24, 2010.
                  </vivo-truncated-text>
                  
               </vivo-publication>

<vivo-publication publication-url="/entities/publication/m9.figshare.2002200" style="display: block;">
                  <div slot="title">Getting More From Your VIVO: Generating Reports and Functional Datasets For Analysis</div>
                  <vivo-publication-author-list slot="authors" displayed-author-count="2">
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0001-8420-5254">
                        Holmes, Kristi
                     </vivo-publication-author>
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0001-9114-8737">
                        Haendel, Melissa
                     </vivo-publication-author>
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
                        Conlon, Mike
                     </vivo-publication-author>
                     
                     <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
                        Conlon, Michael
                     </vivo-publication-author>
                     
                  </vivo-publication-author-list>
                  
                  <span slot="date">2015-08-19</span>
                  
                  <vivo-truncated-text slot="abstract">
                    <p>Research information systems are important tools for individuals, institutions, and consortia and can inform decision making, assessment, and collaborative activities. This workshop will cover the concept of research impact and indicators of impact within the VIVO ontology, business processes, and workflow for generating reports and datasets from your VIVO. Attendees of the workshop will gain a better perspective of strategies to identify and monitor research impact using their systems and a recipe book (including sparql queries) to generate meaningful reports and data sets. Attendees will be able to participate in hands-on work with the VIVO-ISF ontology to identify existing indicators and brainstorm possible ontology extensions for incorporation into the data framework. Finally, an open discussion on consortial approaches for use of this data will conclude the session.</p>
                  </vivo-truncated-text>
                  
               </vivo-publication>
