<h3>Tabs</h3>
<vivo-tabs id="primary-example" vivo-tab-style="primary">
  <vivo-tab id="config-overiew-tab" slot="tabs" selected>Configuration Overview</vivo-tab>
  <vivo-tab-panel id="config-overview-panel" slot="panels" selected>Configuration fields...</vivo-tab-panel>
  <vivo-tab id="second-tab" slot="tabs">Second Tab Here</vivo-tab>
  <vivo-tab-panel id="second-panel" slot="panels">Another Tab...</vivo-tab-panel>
  <vivo-tab id="third-tab" slot="tabs">Third Tab Here</vivo-tab>
  <vivo-tab-panel id="third-tab-panel" slot="panels">The number of the counting shall be three...</vivo-tab-panel>
</vivo-tabs>
<vivo-tabs id="secondary-example" vivo-tab-style="secondary">
  <vivo-tab id="config-overiew-tab" slot="tabs" selected>Configuration Overview</vivo-tab>
  <vivo-tab-panel id="config-overview-panel" slot="panels" selected>Configuration fields...</vivo-tab-panel>
  <vivo-tab id="second-tab" slot="tabs">Second Tab Here</vivo-tab>
  <vivo-tab-panel id="second-panel" slot="panels">Another Tab...</vivo-tab-panel>
  <vivo-tab id="third-tab" slot="tabs">Third Tab Here</vivo-tab>
  <vivo-tab-panel id="third-tab-panel" slot="panels">The number of the counting shall be three...</vivo-tab-panel>
</vivo-tabs>

