<vivo-publication-list displayed-pub-count="3">
  <vivo-publication publication-url="/entities/publication/n130559" style="display: block;" published-date='2017-01-01'>
    <div slot="title">OpenVIVO: Transparency in Scholarship@en-US</div>
    <vivo-publication-author-list slot="authors" displayed-author-count="2">
      <vivo-publication-author profile-url="/entities/person/orcid0000-0001-8420-5254">
        Holmes, Kristi
      </vivo-publication-author>
      <vivo-publication-author profile-url="/entities/person/orcid0000-0001-8530-8917">
        Triggs, Graham
      </vivo-publication-author>
      <vivo-publication-author profile-url="/entities/person/orcid0000-0001-9114-8737">
        Haendel, Melissa
      </vivo-publication-author>
      <vivo-publication-author profile-url="/entities/person/orcid0000-0003-2588-3084">
        Ilik, Violeta
      </vivo-publication-author>
      <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
        Conlon, Mike
      </vivo-publication-author>
      <vivo-publication-author profile-url="/entities/person/orcid0000-0002-1304-8447">
        Conlon, Michael
      </vivo-publication-author>
    </vivo-publication-author-list>
    <span slot="date">2017-01-01</span>
    <vivo-truncated-text slot="abstract">
      OpenVIVO is a free and open hosted semantic web platform anyone can join that gathers and shares open data about scholarship in the world. . OpenVIVO,based on the VIVO open source platform,provides transparent access to data about the scholarly work of its participants. OpenVIVO demonstrates the use of persistent identifiers, automatic real-time ingest of scholarly ecosystem metadata, use of VIVO-ISF and related ontologies, attribution of work, and publication and reuse of data–all critical components of presenting, preserving, and tracking scholarship. The system was created by a cross-institutional team overthe course of three months. The team created and used RDF models for research organizations in the world based on Digital Science GRID data, for academic journals based on data from CrossRef and the US National Library of Medicine, and created a new model for attribution of scholarly work. All models, data and software are available in open repositories.
    </vivo-truncated-text>
    <span slot="links">
      <i class="fas fa-file-alt"></i> Full Text
    </span>
    <span slot="links">
      <i class="fas fa-unlock-alt"></i> Open Access
    </span>
    <span slot="links">
      <i class="fas fa-link"></i> Link to Item
    </span>
    <span slot="links">
      <i class="fas fa-quote-left"></i> Cite
    </span>
  </vivo-publication>
  <vivo-publication>
    <div slot="title">No Date - will sort to the end</div>
  </vivo-publication>
  <vivo-publication published-date="2019-01-01">
    <span slot="date">2019-01-01</span>
  </vivo-publication>
  <vivo-publication published-date="2003-01-01">
    <span slot="date">2003-01-01</span>
  </vivo-publication>
  <vivo-publication published-date="2002-01-01">
    <span slot="date">2002-01-01</span>
  </vivo-publication>
</vivo-publication-list>

<vivo-publication-list>
<vivo-publication>
</vivo-publication>
<vivo-publication>
</vivo-publication>
</vivo-publication-list>
