<p>
  <vivo-interval interval-start="2005" interval-end="2015"></vivo-interval>
</p>

<p>
  <vivo-interval interval-end="2015"></vivo-interval>
</p>

<p>
  <vivo-interval interval-start="2005"></vivo-interval>
</p>

<p>
  <vivo-interval interval-end="2015" separate-open></vivo-interval>
</p>

<p>
  <vivo-interval interval-start="2005" separate-open></vivo-interval>
</p>

<p>
  <vivo-interval interval-start="2005" interval-end="2015" separator="to"></vivo-interval>
</p>

<p>
  <vivo-interval></vivo-interval>
</p>
