<h3>vivo-sidebar</h3>

<vivo-sidebar>
    <img src="<%= assetPath("images/profile_picture_u39_a.png") %>" />
    <vivo-sidebar-item>
        <h4 slot="heading">Contact</h4>
        <div slot="content">
          <b>Email</b>
          <span>Gustavo.Silva@duke.edu</span>
        </div>    
    </vivo-sidebar-item>
    <vivo-sidebar-item>
        <h4 slot="heading">Professional Links</h4>
        <div slot="content">
          <a href="#">LinkedIn</a>
        </div>    
    </vivo-sidebar-item>
</vivo-sidebar>


