<h3>Tabs</h3>

<vivo-tabs id="primary-example" vivo-tab-style="primary">
  <vivo-tab id="config-overiew-tab" selected>
    Configuration Overview
  </vivo-tab>
  <vivo-tab-panel selected>
    <p>Configuration fields...</p>
  </vivo-tab-panel>

  <vivo-tab id="second-tab">
    Second Tab Here
  </vivo-tab>
  <vivo-tab-panel>
    <p>Another Tab...</p>
  </vivo-tab-panel>

  <vivo-tab id="third-tab">
    Third Tab Here
  </vivo-tab>
  <vivo-tab-panel>
    <p>The number of the counting shall be three...</p>
  </vivo-tab-panel>
</vivo-tabs>

<h3>Tabs (style secondary)</h3>

<vivo-tabs id="secondary-example" vivo-tab-style="secondary">
  <vivo-tab id="config-overiew-tab" selected>
    Configuration Overview
  </vivo-tab>
  <vivo-tab-panel selected>
    <p>Configuration fields...</p>
  </vivo-tab-panel>

  <vivo-tab id="second-tab">
    Second Tab Here
  </vivo-tab>
  <vivo-tab-panel>
    <p>Another Tab...</p>
  </vivo-tab-panel>

  <vivo-tab id="third-tab">
    Third Tab Here
  </vivo-tab>
  <vivo-tab-panel>
    <p>The number of the counting shall be three...</p>
  </vivo-tab-panel>
</vivo-tabs>
