<style>
  #about {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  #about h2 {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.4em;
    margin-top: .9em;
    margin-bottom: .7em;
  }
  #about a {
    color: var(--linkColor);
    font-weight: bold;
  }
</style>
<div id="about">
<h2>About VIVO Scholar</h2>

<p>
Developed by the VIVO Scholar Task Force, VIVO Scholar is an open-source tool that showcases the scholarly contributions and
activities of the VIVO community. It includes up-to-date information on scholars' publications, grants, and contact information.
VIVO Scholar serves as a read-only user interface for browsing data compiled in VIVO, providing a developer-friendly means of
customization and implementation for institutions. Want to learn more about VIVO Scholar and how you can adopt it at your in-
stituation? See our 
<a href="https://wiki.lyrasis.org/display/VIVO/About+VIVO+Scholar#AboutVIVOScholar-FAQsVS">FAQ</a> or check out the 
<a href="https://wiki.lyrasis.org/display/VIVO/VIVO+Scholar+Task+Force">VIVO Scholar Task Force Wiki</a>
</p>

<h2>New Features</h2>
<ul>
    <li>Intuitive, responsive, customizable, and user-friendly interface</li>
    <li>Enhanced search functions to narrow results with multi-level faceting</li>
    <li>GraphQL endpoint that enables feeding data to other websites</li>
    
</ul>

<h2>Search Tips</h2>
<ul>
  <li>Keep your search simple. Use short, single terms unless your searches are returning too many results. Use the filters on
the results page to further narrow your search.</li>
  <li>Searches are not case-sensitive</li>
  <li>Use the wildcard * character to match an even wider variation; e.g. nano* will match both nanotechnology and
nanofabrication</li>
</ul>
</div>



