<h2>About</h2>

<p>Just a simple, static about page</p>

<%= javascriptTag("embedded_publication_list.js") %>
<h3>Embedded Publications</h3>
<p>NOTE: custom styling</p>

<style>
  vivo-embedded-publication-list {
    --publication-title-color: #6f42c1;
    --publication-title-link-color: #6f42c1;
    --publication-title-font-size: 34px;
    --publication-abstract-font-size: 18px;
    --publication-authors-font-weight: normal;
    --publication-date-font-style: normal;
    --publication-authors-font-size: 14px;
    --publication-date-font-size: 14px;
  }  
</style>

<vivo-embedded-publication-list 
  person_id="orcid0000-0002-1304-8447" 
  link-decorate="true">

</vivo-embedded-publication-list>


