<style>
  .h2 {
    align-items: flex-start;
    color: #0577b1;
    font-size: 40px;
    padding-left: 20px;
    font-weight: 600;
    font-familiy: Fira, sans-serif;
    padding-top: 3px;
    margin-bottom: 35px;
  }
  .viewas {
    font-size: 15px;
  }
  .top-line {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
  .selector {
    align-items: center;
  }
  vivo-modal {
    text-align: center;
  }
</style>

<vivo-modal id="loading">
  <!--h3>Loading ...</h3-->
  <vivo-search-spinner></vivo-search-spinner>
</vivo-modal>

<div class="top-line">
  <span class="h2">Organizations</span>
  <span class="selector"><span class="viewas">View as: </span><vivo-organizations-tree-list-selector treelistid="tree-list"></vivo-organizations-tree-list-selector></span>
</div>


<vivo-organizations-tree
    id="tree-list"
    class="showastree"
    showas="tree"
    opened
    orgid="<%= ThemeVariable("siteOrganizationId") %>"
    siteorgid="<%= ThemeVariable("siteOrganizationId") %>"  >
</vivo-organizations-tree>
