<h4>People (<span><%= data["personsFacetedSearch"]["page"]["totalElements"] %>)</span></h4>

<div><%= FloatToInt(data["personsFacetedSearch"]["page"]["number"]) + 1 %> of Total Pages: <%= data["personsFacetedSearch"]["page"]["totalPages"] %></div>

<div>Query: <%= search[0] %></div>
<form action="/search/people" method="GET">
    <div class="form-group">
      <label for="search">Search:</label>
      <input type="text" class="form-control" 
      id="search" name="search" placeholder="search..." value="<%= search[0] %>">
    </div>
</form>

<ul class="pagination">
    <%= for (index, number) in range(0, FloatToInt(data["personsFacetedSearch"]["page"]["totalPages"]) - 1) { %>
        <li class="page-item <%=if (number == FloatToInt(data["personsFacetedSearch"]["page"]["number"])) { %>active<% } %>">
            <a class="page-link" href="?pageNumber=<%= number %>&search=<%= search[0] %>"><%= number + 1 %></a>
        </li>
    <% } %>
</ul> 
<section class="person-list">
    <div class="row">
      <div class="col-sm"> 

        <ul class="list-group">
        <%= for (p) in data["personsFacetedSearch"]["content"] { %>
           <li class="list-group-item">

               <span class="person-name">
                  <a href="/entities/person/<%= p["id"] %>">
                    <%= p["name"] %>
                 </a> 
               </span>
               <% if (p["thumbnail"] != "") { %>
               <img width="90" src="http://openvivo.org<%=p["thumbnail"] %>" />
               <% } %>
           </li>
        <% } %>
        </ul>
      </div>

      
      <div class="col-sm"> 
            
            <%= for (f) in data["personsFacetedSearch"]["facets"] { %>
                <h3><%= f["field"] %></h3>
                
                <ul class="list-group">
                <%= for (e) in f["entries"]["content"] { %>
                <li class="list-group-item">
                  <span><%= e["value"] %> (<%= e["count"] %>)</span>
                </li>
                <% } %>
            </ul>  
            <% } %>
      </div>
    </div>

</section>

    <ul class="pagination">
            <%= for (index, number) in range(0, FloatToInt(data["personsFacetedSearch"]["page"]["totalPages"]) - 1) { %>
                <li class="page-item <%=if (number == FloatToInt(data["personsFacetedSearch"]["page"]["number"])) { %>active<% } %>">
                    <a class="page-link" href="?pageNumber=<%= number %>"><%= number + 1 %></a>
                </li>
            <% } %>
    </ul> 


