<%
 let totalItems = data["personsFacetedSearch"]["page"]["totalElements"]
 let totalPages = FloatToInt(data["personsFacetedSearch"]["page"]["totalPages"])
 let currentPage = FloatToInt(data["personsFacetedSearch"]["page"]["number"])
 let query = search[0]
 let results = data["personsFacetedSearch"]["content"]

 let paging = FigurePagingInfo(currentPage, totalPages)
%>
<h4>People (<span><%= totalItems %>)</span></h4>

<%= form({action: searchPath({type: "people"}), method: "GET"}) { %>
    <div class="form-group">
      <label for="search">Search:</label>
      <input type="text" class="form-control" 
      id="search" name="search" placeholder="search..." value="<%= query %>">

      <input type="hidden" name="pageNumber" value="<%= currentPage %>" />
    </div>


<div><%= currentPage + 1 %> of Total Pages: <%= totalPages %></div>

<section class="person-list">
    <div class="row">
      <div class="col-sm"> 

        <ul class="list-group">
        <%= for (p) in results { %>
           <li class="list-group-item">

               <span class="person-name">
                  <a href="/entities/person/<%= p["id"] %>">
                    <%= p["name"] %>
                 </a> 
               </span>
               <% if (p["thumbnail"] != "") { %>
               <img width="90" src="http://openvivo.org<%=p["thumbnail"] %>" />
               <% } %>
           </li>
        <% } %>
        </ul>
      </div>

      
      <div class="col-sm"> 
            
            <%= for (f) in data["personsFacetedSearch"]["facets"] { %>
                <h3><%= capitalize(f["field"]) %></h3>
                
                <ul class="list-group">
                <%= for (index, e) in f["entries"]["content"] { %>
                <li class="list-group-item">
                  <span>
                    <input type="checkbox" name="filter[<%= f["field"] %>]" value="<%= e["value"] %>"/>
                    <%= e["value"] %> (<%= e["count"] %>)
                  </span>
                </li>
                <% } %>
            </ul>  
            <% } %>
      </div>
    </div>

</section>

<% } %>

<ul class="pagination">
    <%= if (paging.First.HasMore == true) { %>
      <li>
        <a class="page-link" href="?pageNumber=<%= paging.First.Previous %>&search=<%= query %>">
          <span>&laquo; Previous</span>
        </a>
      </li>
    <% } %>
    <%= for (number) in paging.PageList { %>
        <li class="page-item <%=if (number == currentPage) { %>active<% } %>">
            <a class="page-link" href="?pageNumber=<%= number %>&search=<%= query %>"><%= number + 1 %></a>
        </li>
    <% } %>
    <%= if (paging.Last.HasMore == true) { %>
      <li>
        <a class="page-link" href="?pageNumber=<%= paging.Last.Next %>&search=<%= query %>">
          <span>&raquo; Next</span>
        </a>
      </li>
    <% } %>
</ul> 

