$base-font: "Red+Hat+Text";
$bold-font: "Red+Hat+Text";

$blueish: rgba(38, 169, 224, 1);
$light-blueish: rgb(165, 213, 238);
$white: rgb(255, 255, 255);

$theme-colors: (
  "primary": rgba(38, 169, 224, 1)
);

// should be better way to override - above
// doesn't work though
.badge-primary {
  background-color: rgba(38, 169, 224, 1);
}
/****** global (all pages) */
body {
  font-family: $base-font; 
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding: 4px;
 }

section {
  margin-bottom: .5em;
}

/**** headings ****/
h1 {
	font-family: Arial-BoldMT, "Arial Bold", Arial; 
	font-weight: 700; 
	font-size: 72px; 
	color: rgb(18, 89, 124);
}

h2 {
	font-family: Arial-BoldMT, "Arial Bold", Arial; 
	font-weight: 700; 
	font-size: 40px; 
	color: rgb(18, 89, 124);
}
h3 {
	font-family: Arial-BoldMT, "Arial Bold", Arial; 
	font-weight: 700; 
	font-size: 38px; 
	color: rgb(18, 89, 124);
}

h4 {
  transform-origin: 77px 18.5px;
  font-family: Arial-BoldMT, "Arial Bold", Arial; 
  font-weight: 700; 
  font-size: 36px; 
  color: rgb(18, 89, 124);
}

h5 {
  transform-origin: 77px 18px;
  font-size: 21px; 
  line-height: 24px;
  font-family: Arial-BoldMT, "Arial Bold", Arial; 
  font-weight: 700; 
  font-size: 21px; 
  color: rgb(47, 61, 79)
}

h6 {
  transform-origin: 77px 18px;
  font-size: 18px; 
  line-height: 20px;
  font-family: Arial-BoldMT, "Arial Bold", Arial; 
  font-weight: 700; 
  font-size: 19px; 
  color: rgb(47, 61, 79)
}

h6>a {
  color: rgb(47, 61, 79)
}

/******  header  ******/
#main-menu { 
  background-color: rgba(47, 61, 79, 1); 
  padding: 0 0 0 0;
}

.navbar-brand {
  padding: 0 0 0 0;
}

span.logo {
  color: rgb(255, 255, 255);
  font-family: "CenturyGothic", "Century Gothic";
  font-weight: 700;
  font-size: 72px;
}
  
span.logo-secondary {
  color: rgb(38, 169, 224);
  font-family: 'ArialMT', 'Arial';
  font-weight: 400;
  display: inline;
  line-height: 1;
}

#main-menu {
  margin-bottom: 1em;
}
  
#main-menu .nav-link {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: right;
}
  
/**** person profile *****/
/* profile nav-bar */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: rgb(165, 213, 238);
  border-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(165, 213, 238);
  font-weight: bold;
  background-color: rgb(165, 213, 238);
  color: #495057;
}

.nav-tabs>li>a {
  background-color: rgb(232,232,232);
}
   
.nav-tabs>li>a:hover{
  border: 1px solid transparent;
}
  
.nav>li>a:focus, .nav>li>a:hover{
  border: 1px solid transparent; 
  background-color: rgb(165, 213, 238);
}
   
.nav-tabs{
  border-bottom: none;
  display: inline-block; /* needed to center the list items */
}
   
.tabbable{
  text-align: center;
}

.nav-tabs>li{
  vertical-align: bottom;
  display: inline-block;
  float: none;
}

.nav-tabs{
  border-bottom: 8px solid rgb(165, 213, 238);
  display: inline-block; /* needed to center the list items */
}

.nav-item {
  font-size: 18px;
  color: #000000;
  text-align: left;
}

.nav-link {
	padding: .25rem .5rem;
}

div.profile-column>ul.nav-tabs > li {
  float:none;
  display: table-cell;
  width: 1%;
}

div.profile-column>ul.nav>li.nav-item a {
  color: #495057;
}

/** seems to be necessary to make person profile nav 100% */
#myTab { width: 100%; }

@media (max-width: 768px) {
	.nav-justified > li {
	  display: table-cell;
	  width: 1%;
	}
	.nav-justified > li > a  {
	  border-bottom: 1px solid #ddd !important;
	  border-radius: 4px 4px 0 0 !important;
	  margin-bottom: 0 !important;
	}
}

/* person profile page */
.contact>div>span.label, .contact>div>span.data {
  font-size: 11px;
}
section.contact {
  line-height: 13px;
  background-color:rgb(232,232,232);
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

section.websites {
  line-height: 13px;
  background-color:rgb(232,232,232);
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}
 
/* more general */
span.label {
  font-family: Arial-BoldMT, "Arial Bold", Arial;
  font-weight: 700;
  font-size: 11px;
}

span.data {
  font-family: ArialMT, Arial; 
  font-weight: 400;	
}

div.address-block {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a.prof-link {
  font-size: 13px; 
  line-height: 20px;
  font-family: Arial-BoldMT, "Arial Bold", Arial; 
  font-weight: 700; 
  text-decoration: none;
  color: #333333;
}

/**** headings (person profile) ****/
h3.tab-content {
  margin-top: 1em;
  transform-origin: 47.5px 12px; 
  left: 0px; 
  font-size: 28px;
}

h4.tab-content {
  margin-top: 4px;
  transform-origin: 47.5px 12px; 
  left: 0px; 
  font-size: 22px;
  margin-bottom: 8px;
}
  
h5.tab-content {
  margin-top: 8px;
  transform-origin: 47.5px 12px; 
  left: 0px; 
  color: rgb(18, 89, 124);
  transform-origin: 47.5px 12px; 
  left: 0px; 
  color: rgb(18, 89, 124);
  margin-bottom: 8px;
}

h6.tab-content {
  margin-bottom: 4px;
}
h5.side-bar {
  font-size: 13px;
  background-color: rgba(165, 213, 238, 1);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 0.4em;
  margin-bottom: 0;
}


/** publications ***/
.publication-citation {
  margin-bottom: 8px;
}
.publication-authors {
  font-style: italic;
}

.publication-abstract {
  margin-bottom: 1em;
}
/**** search ****/
div.input-group.search { 
  width: 100%; 
  margin-bottom: 2em; 
}

.search-button {
	background-color: rgba(38, 169, 224, 1); 
	color: #FFFFFF;
	border: 0px;
}

/* paging */
.page-item.active .page-link {
  background-color: rgba(38, 169, 224, 1); 
  border-color: rgba(38, 169, 224, 1);
}

.page-item:hover {
	cursor: pointer;
}

/*** facets */
div.facets> h3 {
  font-size: 22px; 
  margin-top: 8px;
}

label.facet-click> input {
  margin-right: 4px;
  // can't seem to get border
  /* border: 1px solid #000000; */
}

div.facets>ul>li.list-group-item:hover {
  /* maybe should be color */
  color: $white;
  background-color: $blueish;
}
