.site-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.site-sub-header {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 10;
}

.site-search {
  width: 75%;
  margin: 0 auto;
}

#main {
  width: 95%;
  margin: 210px auto 0 auto;
}

.highlight {
  color: var(--highlightColor);
}

vivo-sidebar-item div {
  font-size: 0.75em;
}

vivo-sidebar-item h1, h2, h3, h4 {
  padding: 0.5em;
  font-size: 0.9em;
}