* {
  box-sizing: border-box;
}

:root {
  font-family: Verdana, sans-serif;
  line-height: 1.6em;
}

.site-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.site-header h1 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.site-header h1 a, site-header h1 a:hover {
  color: white;
  text-decoration: none;
}

.site-sub-header {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 10;
}

.site-search {
  width: 75%;
  margin: 0 auto;
}

.position {
  margin-bottom: 0.75em;
  .position-title {
    font-weight: bold;
    margin-bottom: 0;
  }
  .position-organization {
    margin-top: 0;
  }
}

.education {
  margin-bottom: 0.75em;
  .education-organization {
    font-weight: bold;
  }
}

@media (max-width: 800px) {
  .site-search {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .site-search {
    width: 90%;
  }
}

aside {
  font-family: Arial, sans-serif;
}

#main {
  width: 95%;
  margin: 210px auto 0 auto;
}

.highlight {
  color: var(--highlightColor);
}

.profile-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

/* headings */

.page-title {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: .3em;
}

.page-subtitle {
  color: var(--textColor);
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 1em;
}

.section-title {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 1.4em;
  margin-bottom: .7em;
}

.subsection-title {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1.2em;
  margin-bottom: .6em;
}

/* elements */
vivo-sidebar {
  margin: 0.25em;
}

vivo-sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

vivo-sidebar-item h3 {
  font-size: 1em;
  margin-bottom: 0;
}

vivo-sidebar-item h4 {
  display: inline;
  font-weight: bold;
  font-size: 1em;
}

vivo-sidebar-item h4:after {
  content: ":";
}

vivo-sidebar-item a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

vivo-tab h3 {
  display: inline;
  padding: 0em;
  font-size: 1.4em;
  margin: 0;
  font-weight: normal;
}

vivo-tab-panel h4 {
  color: var(--primaryColor);
}


/* grid experiment */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin: 0 auto;
  grid-auto-flow: dense;
  grid-column-gap: .5em;
}

.container aside {
  grid-column: span 2;
  padding: 0.25em;
}

.container main {
  grid-column: span 10;
  padding: 0.25em;
}

/* responsive css */
@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container div:first-child {
    order: 2;
  }
}

/* courses */
// .course {
//   margin-bottom: 0.75em;
//   .course-title {
//     font-weight: bold;
//     margin-bottom: 0;
//   }
//   .course-role {
//     margin-top: 0;
//     color: var(--darkNeutralColor)
//   }
// }
