* {
  box-sizing: border-box;
}
*:focus {
    outline: none;
}
:root {
  font-family: Verdana, sans-serif;
  line-height: 1.6em;
}
// NOTE: chrome specific
// https://stackoverflow.com/questions/9328832/how-to-apply-specific-css-rules-to-chrome-only
.selector:not(*:root), :root {
  font-size: 0.85em;
}
.site-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.site-header h1 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
.site-header h1 a, site-header h1 a:hover {
  color: white;
  text-decoration: none;
}
.site-sub-header {
  position: fixed;
  left: 0;
  top: 75px;
  z-index: 9;
}
.site-search {
  width: 75%;
  margin: 0 auto;
}
.position {
  margin-bottom: 0.75em;
  .position-title {
    font-weight: bold;
    margin-bottom: 0;
  }
  .position-organization {
    margin-top: 0;
  }
  .position-organization:after {
    content: ' | ';
  }
  .position-organization:nth-last-child(-n+2):after {
    content: '';
  }
}
.education {
  margin-bottom: 0.75em;
  .education-organization {
    font-weight: bold;
  }
}


aside {
  font-family: Arial, sans-serif;
}
#main {
  width: 95%;
  margin: 168px auto 0 auto;
}
.highlight {
  color: var(--highlightColor);
  font-size: .8em;
}
.title-bar {
  font-weight: 300 !important;
}
.profile-image {
  max-width: 100%;
  height: auto;
}

/* headings */

.page-title {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: .3em;
  line-height: normal;
}
.page-subtitle {
  color: var(--textColor);
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: .5em;
}
#contact-info {
margin: 0;
}
#contact-info span::after{
  content: " | "
}
#contact-info span:last-child::after{
  content: none;
}
.section-title {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1.4em;
  margin-top: .9em;
  margin-bottom: .7em;
}
.subsection-title {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1.2em;
  margin-bottom: .6em;
}

// profile entity page
#profile .page-title {
  margin-top: .3em;
}
#profile .page-subtitle{
  margin-top: 0;
}
#profile .contact-info{
  margin-top: 0;
}
#profile vivo-tabs {
  margin-top: 2.34%;
}
#profile aside h3{
  margin: 0;
  padding: 0;
}


/* elements */
vivo-sidebar {
  margin: 0.25em;
}
vivo-sidebar-item h3 {
  font-size: 1em;
  margin-bottom: 0;
}
vivo-sidebar-item h4 {
  display: inline;
  font-weight: bold;
  font-size: 1em;
}
vivo-sidebar-item h4:after {
  content: ":";
}
vivo-sidebar-item a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
  margin: 0;
}
#keywords p {
  color: black;
  font-weight: bold;
  margin: 0;
}

vivo-sidebar-item  > div:first-of-type {
  padding-top: .25em;
}
vivo-sidebar-item  > div:last-of-type {
  padding-bottom: .25em;
}
vivo-tabs {
  background-color: #F3F2F1;
}
vivo-tab-panel {
  background-color: white;
}
vivo-tab h3 {
  display: inline;
  padding: 0em;
  font-size: 1.4em;
  margin: 0;
  font-weight: normal;
}
vivo-tab-panel h4 {
  color: var(--primaryColor);
}

/*entity pages*/

.entity-container {
  width: 95%;
  margin: auto;
  margin-top: 180px;
  margin-bottom: 5%;
  padding-left: 5%;
}
.publication-heading .page-title{
  margin-left: 3%;
  margin-bottom: 1%;
}
.publication-heading button {
  background-color: var(--highlightColor);
  color: white;
  border: none;
  height: 35px;
  margin-top: 15%;
  display: block;
  width: 100%;
  text-align: center;
}
.publication-type{
  grid-area: publicationType;
  margin-bottom: 0;
  margin-left: 5%;
}
.text-button{
  grid-area: textButton;
  margin-left: 15%;
}
.cite-button{
  grid-area: citeButton;
}
.abstract{
  grid-area: abstract;
}
.publication-date{
  grid-area: publicationDate;
  margin-top: 0;
  color: black;
  margin-left: 5%;
}
.publication-heading{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px;
  grid-template-areas:
  "publicationType publicationType publicationType publicationType . . . . textButton . citeButton ."
  "publicationDate publicationDate publicationDate publicationDate . . . . . . . ."
  "abstract abstract abstract abstract abstract abstract abstract abstract abstract abstract abstract abstract";
}
.linked-authors:after{
  content: "\A";
  white-space: pre;
}
.grant-date {
  color: black;
}


/*grid - person*/
.person-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
  margin: 0 auto;
  grid-auto-flow: row;
  grid-column-gap: .5em;
}
.person-container aside {
  grid-column: span 2;
  padding-right: 0.25em;
}
.person-container aside vivo-sidebar vivo-sidebar-item:nth-child(2) h3:first-of-type {
  margin-top:0;
}
.person-container .sidebar-image {
  grid-column: span 2;
  padding-right: 0.25em;
}
.person-container main {
  grid-column: span 10;
  grid-row: span 5;
  padding-left: 0.25em;
}
.sidebar-image img{
  margin: auto;
  border: 10px solid #F3F2F1;
}


/* responsive css */
@media screen and (min-width: 1400px) {
  .profile-image {
  width: 100%;
  height: auto;
}
}
@media screen and (max-width: 1200px){
  .person-container{
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .person-container .sidebar-image {
    grid-column: 1 / span 2;
  }
  .person-container aside {
    grid-column: 1 / span 2;
    max-width: 230px
  }
  .person-container main {
    grid-column: span 7;
  }
}
@media screen and (max-width: 1150px){
  .person-container{
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .person-container .sidebar-image {
    grid-column: 1 / span 2;
  }
  .person-container aside {
    grid-column: 1 / span 2;
    max-width: 230px
  }
  .person-container main {
    grid-column: span 7;
  }
}
@media screen and (max-width: 800px) {
// person.html styling
  #main {
    width: 100%
  }
  //person entity page
  .person-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-rows: auto;
    background-color: var(--lightNeutralColor);
  }
  .person-container main {
    padding: 0;
  }
  .person-container aside {
    padding: 0;
    margin-top: 1.25em;
  }
  .page-title {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding-top: 3%;
    background-color: white;
  }
  .page-subtitle {
    text-align: center;
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
  }
  vivo-tabs {
    background-color: white;
  }
  vivo-tab-panel {
    padding: 3%;
  }
  vivo-sidebar {
    background-color: white;
    margin:0;
    padding:0;
    overflow: hidden;
  }
  vivo-sidebar-item {
    margin: 4%;
  }
  vivo-sidebar-item:first-of-type {
    padding-top: 3%;
  }
  vivo-sidebar-item:last-of-type {
    padding-bottom: 3%;
  }
  .sidebar-image {
    margin:0;
    padding: 0;
    background: white;
  }
  .sidebar-image img {
    display: block;
  }
  .section-title {
    font-size: 1em;
  }
  #profile .page-title{
    margin-top: 0;
  }
  //publication and grant entity pages
  .entity-container{
    background-color: var(--lightNeutralColor);
    width: 100%;
    padding-left: 0;
  }
  .publication-heading{
    padding: 0 5%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 25px;
    grid-template-areas:
    "publicationType publicationType publicationType publicationType publicationType publicationType publicationType publicationType publicationType publicationType publicationType publicationType"
    "publicationDate publicationDate publicationDate publicationDate publicationDate publicationDate . . . . . ."
    "abstract abstract abstract abstract abstract abstract abstract abstract abstract abstract abstract abstract"
    ". textButton textButton textButton textButton . citeButton citeButton citeButton citeButton . .";
    padding-bottom: 10%;
  }
  .publication-type{
    margin: 0;
  }
  .publication-date{
    margin: 0;
    margin-bottom: 5%;
  }
  .entity-container .page-title {
    text-align: left;
    padding: 0 5%;
    padding-bottom: 3%;
    width: 100%;
  }
  .entity-content{
    margin-top: 5%;
    padding: 0 5%;
    padding-top: 5%;
    background-color: white;
  }
  .grant-page{
    margin-top: 0;
    padding-top: 0;
  }
  .linked-authors:after{
    display: inline-block;
    content: ",";
  }
  .linked-authors:last-child:after{
    content: "";
  }
  // site search styling
  .site-search {
    width: 85%;
  }

}

@media (max-width: 500px) {

    // site search styling
  .site-search {
    width: 90%;
  }
}
