<%= javascriptTag("hello.js") %>
<script type="application/ld+json">
   {
     "@context": "https://schema.org",
     "@type": "Person",
     "url": "http://vivo.org",
     "name": "<%= data["person"]["name"] %>"",
     "contactPoint": {
       "@type": "ContactPoint",
       "telephone": "+1-401-555-1212",
       "contactType": "Customer service"
     }
   }
</script>
<%
  let person = data["person"]
%>
<div class="row">
   <div class="col-sm"> 
         <section class="image">
            <div>
               <img width="160" src="http://openvivo.org<%= data["person"]["thumbnail"] %>" />
            </div>
         </section>
   </div>
   <div class="col-sm">  
         <h2><%= person["name"] %></h2>
       </div>
   <div class="col-sm"> 
         <%= for (p) in person["positions"] { %>
            <div class="position row">
            <span class="position-type"><%= p["type"] %></span>
            </div>
         <% } %>
   </div>

</div>

<x-hello><span class="badge badge-secondary">World</span></x-hello>

<h3>Publications</h3>
<section class="publication-list">

<ul class="list-group">
<%= for (p) in person["selectedPublications"] { %>
   <li class="list-group-item">
       <span class="publication-title">
          <a href=/entities/publication/<%= p["id"] %>>
            <%= p["title"] %>
         </a> 
       </span>
   </li>
<% } %>
</ul>
</section>

<!-- hidden content ... or json-ld
<%= for (p) in person["publications"] { %>
  <div><%= p["label"] %></div>
<% } %>   
-->
