<%= javascriptTag("person.js") %>
<%
  let person = data["personById"]
%>

<div class="container">

   <aside>
      <vivo-sidebar>
         <%= if (person["thumbnail"]) { %>
         <!-- FIXME: should get base image path some other way -->
         <img class="profile-image" src="http://openvivo.org<%= person["thumbnail"] %>" />
         <% } else { %>
         <img class="profile-image" src="<%= assetPath("images/profile_picture_u39_a.png") %>" />
         <% } %>
         <%= if (person["primaryEmail"] || person["phone"] || person["streetAddress"]) { %>
         <vivo-sidebar-item>
            <h3 slot="heading"><%= t("profile_contact") %></h3>
               <%= if (person["primaryEmail"]) { %>
              <div slot="content">
               <h4><%= t("email") %></h4>
               <span><%= person["primaryEmail"] %></span>
              </div>
               <% } %>
               <%= if (person["phone"]) { %>
              <div slot="content">
               <h4><%= t("telephone") %></h4>
               <span><%= person["phone"] %></span>
              </div>
               <% } %>
               <%= if (person["streetAddress"]) { %>
              <div slot="content">
               <h4><%= t("address_1") %></h4>
               <div><%= person["streetAddress"] %></div>
              </div>
               <% } %>
         </vivo-sidebar-item>
         <% } %>
         <%= if (person["websites"]) { %>
         <vivo-sidebar-item>
            <h3 slot="heading"><%= t("profile_professional_links") %></h3>
             <% let websites = person["websites"] %>
             <% SortByStringField(websites, "label") %>
             <%= for (w) in websites { %>
             <div slot="content" class="website">
                <a class="prof-link" href="<%= w["url"] %>">
                   <%= w["label"] %>
                </a>
             </div>
             <% } %>
         </vivo-sidebar-item>
         <% } %>

         <%= if (person["researchAreas"]) { %>
           <vivo-sidebar-item>
            <h3 slot="heading"><%= t("keywords") %></h3>
            <% let researchAreas = person["researchAreas"] %>
             <% SortByStringField(researchAreas, "label") %>
            <%= for (k) in researchAreas { %>
            <div slot="content">
              <a href="/entities/concepts/<%= k["id"] %>">
                <%= k["label"] %>
              </a>
            </div>
            <% } %>
          </vivo-sidebar>
      <% } %>
   </aside>

   <main>
      <h2 class="page-title"><%= person["name"] %></h2>
      <h2 class="page-subtitle"><%= person["preferredTitle"] %></h2>
      <!-- tabs -->
      <vivo-tabs>
         <%= if (person["overview"] || person["positions"] || person["educationAndTraining"]) { %>
         <vivo-tab id="about-tab">
            <h3><%= t("about") %></h3>
         </vivo-tab>
         <vivo-tab-panel id="about-panel">
            <%= if (person["overview"]) { %>
            <h4 class="section-title"><%= t("overview") %></h4>
            <div>
               <%= raw(person["overview"]) %>
            </div>
            <% } %>

            <%= if (person["positions"] && len(person["positions"]) > 0) { %>
            <h4 class="section-title"><%= t("profile_current_appointments") %></h4>
            <section>
               <% let positions = person["positions"] %>
               <% SortByGraphqlDateFieldDesc(positions, "dateTimeIntervalStart") %>
               <%= for (p) in positions { %>
               <div class="position">
                  <div class="position-title"><%= p["title"] %></div>
                  <%= if (p["organization"]) { %>
                    <span class="position-organization"><%= p["organization"]["label"] %></span>
                  <% } %>
                  <vivo-interval interval-start="<%= FormatGraphqlDate(p["dateTimeIntervalStart"], "year") %>" interval-end="<%= FormatGraphqlDate(p["dateTimeIntervalEnd"], "year") %>" separate-open></vivo-interval>
               </div>
               <% } %>
            </section>
            <% } %>

            <%= if (person["educationAndTraining"]) { %>
            <h4 class="section-title"><%= t("education") %></h4>
            <section>
               <% let educations = person["educationAndTraining"] %>
               <%= SortByISODateFieldDesc(educations, "endDate") %>
               <%= for (e) in educations { %>
               <div class="education">
                  <div class="education-organization">
                  <%= if (e["organization"]) { %>
                    <%= e["organization"]["label"] %>
                  <% } %>
                  </div>
                  <%= e["abbreviation"] %>
                  <%= e["field"] %>
                  <vivo-interval interval-start="<%= FormatISODate(e["startDate"], "year") %>" interval-end="<%= FormatISODate(e["endDate"], "year") %>"></vivo-interval>
               </div>
               <% } %>
            </section>
            <% } %>
         </vivo-tab-panel>
         <% } %>

         <%= if (person["publications"]) { %>
         <vivo-tab id="research-tab">
            <h3><%= t("tab_research_expertise") %></h3>
         </vivo-tab>
         <vivo-tab-panel id="research-panel">
            <h4 class="section-title"><%= t("publications") %></h4>

            <vivo-publication-list>
               <%= for (idx, p) in person["publications"] { %>
               <vivo-publication publication-url="/entities/publication/<%= p["id"] %>">
                  <div slot="title"><%= p["title"] %></div>
                  <vivo-publication-author-list slot="authors">
                     <%= for (a) in p["authors"] { %>
                     <vivo-publication-author profile-url="/entities/person/<%= a["id"] %>">
                        <%= a["label"] %>
                     </vivo-publication-author>
                     <% } %>
                  </vivo-publication-author-list>
                  <span slot="publisher">
                     <span>&middot; Placeholder Journal Name</span>
                  </span>
                  <span slot="date"> &middot; <%= FormatGraphqlDate(p["publicationDate"],"yearMonthDay") %></span>
                  <vivo-truncated-text slot="abstract">
                        <%= if (p["abstractText"]) { %>
                          <%= raw(p["abstractText"]) %>
                        <% } else { %>
                           <%= if (idx < 1) { %> 
                               Short one
                           <% } else { %>
                           Answering the question as to why we age is tantamount to answering the question 
                           of what is life itself. There are countless theories as to why and how we age, 
                           but, until recently, the very definition of aging – senescence – was still 
                           uncertain AFTER THIS THE TEXT SHOULD CUT OFF
                           <% } %>
                        <% } %>
                  </vivo-truncated-text>
                  <span slot="links">
                     <ul class="publication-links">
                        <li class="minimal-icon">
                           <i class="fas fa-file-alt"></i> Full Text
                        </li>
                        <li class="minimal-icon">
                           <i class="fas fa-unlock-alt"></i> Open Access
                        </li>
                        <li class="minimal-icon">
                           <i class="fas fa-link"></i> Link to Item
                        </li>
                        <li class="minimal-icon">
                           <i class="fas fa-quote-left"></i> Cite
                        </li>
                     </ul>
                  </span>
               </vivo-publication>
               <% } %>
            </vivo-publication-list>
         </vivo-tab-panel>
         <% } %>


         <%= if (person["courses"]) { %>
         <vivo-tab id="teaching-tab">
            <h3><%= t("tab_teaching") %></h3>
         </vivo-tab>
         <vivo-tab-panel id="teaching-panel">
            <h4 class="section-title"><%= t("courses") %></h4>
         </vivo-tab-panel>
         <% } %>
      </vivo-tabs>

   </main>

</div><!-- end container -->
