<vivo-person-navigation></vivo-person-navigation>
<%
  let person = data["person"]
%>
<div class="person-container">
  <vivo-sidebar class="sidebar-image">
    <%= if (person["thumbnail"]) { %>
    <!-- FIXME: should get base image path some other way -->
    <img class="profile-image" src="<%= person["thumbnail"] %>" />
    <% } else { %>
    <img class="profile-image" src="<%= assetPath("images/" + ThemeVariable("defaultProfileImage")) %>" />
    <% } %>
  </vivo-sidebar>


   <main id="profile">
     <div id="profile-heading">
      <h2 class="page-title"><%= person["name"] %></h2>
      <h2 class="page-subtitle"><%= person["preferredTitle"] %></h2>
      <%= if (person["primaryEmail"] || person["phone"] || person["streetAddress"]) { %>
      <span id="contact-info" >
        <%= if (person["primaryEmail"]){ %>
          <span><%= person["primaryEmail"] %></span>
        <% } %>
        <%= if (person["phone"]) { %>
          <span><%= person["phone"] %></span>
        <% } %>
        <%= if (person["streetAddress"]) { %>
          <span><%= person["streetAddress"] %></span>
        <% } %>
      <% } %>
      </span>
    </div>
      <!-- tabs -->
      <vivo-tabs tabindex="0">
         <%= if (person["overview"] || person["positions"] || person["educationAndTraining"]) { %>
         <vivo-tab id="bio-tab">
          <h3><%= t("bio") %></h3>
         </vivo-tab>
         <vivo-tab-panel id="bio-panel">
            <%= if (person["overview"]) { %>
            <h4 class="section-title"><%= t("overview") %></h4>
            <div>
               <%= raw(person["overview"]) %>
            </div>
            <% } %>

            <%= if (person["positions"] && len(person["positions"]) > 0) { %>
            <h4 class="section-title"><%= t("profile_current_appointments") %></h4>
            <section>
               <% let positions = person["positions"] %>
               <% SortByGraphqlDateFieldDesc(positions, "dateTimeIntervalStart") %>
               <%= for (p) in positions { %>
               <div class="position">
                  <div class="position-title"><%= p["title"] %></div>
                  <% if (p["organization"]) { %>
                     <% let orgs = p["organization"] %>
                     <%= for (o) in orgs { %>
                       <span class="position-organization"><%= o["label"] %></span>
                     <% } %>
                   <% } %>
                  <vivo-interval interval-start="<%= FormatGraphqlDate(p["dateTimeIntervalStart"], "year") %>" interval-end="<%= FormatGraphqlDate(p["dateTimeIntervalEnd"], "year") %>" separate-open></vivo-interval>
               </div>
               <% } %>
            </section>
            <% } %>

            <%= if (person["educationAndTraining"]) { %>
            <h4 class="section-title"><%= t("education") %></h4>
            <section>
               <% let educations = person["educationAndTraining"] %>
               <%= SortByISODateFieldDesc(educations, "endDate") %>
               <%= for (e) in educations { %>
               <div class="education">
                  <div class="education-organization">
                  <%= if (e["organization"]) { %>
                    <%= e["organization"]["label"] %>
                  <% } %>
                  </div>
                  <%= e["abbreviation"] %>
                  <%= e["field"] %>
                  <vivo-interval interval-start="<%= FormatISODate(e["startDate"], "year") %>" interval-end="<%= FormatISODate(e["endDate"], "year") %>"></vivo-interval>
               </div>
               <% } %>
            </section>
            <% } %>
         </vivo-tab-panel>
         <% } %>

         <%= if (person["publications"]) { %>
         <vivo-tab id="publications-tab">
            <h3><%= t("tab_publications") %></h3>
         </vivo-tab>
         <vivo-tab-panel id="publications-panel">
            <vivo-sortable-list id="publication-list" item-type="publications" sortProperty="publishedDate" sortDirection="desc">
               <%= for (idx, p) in person["publications"] { %>
                 <vivo-publication url="/entities/publication/<%= p["id"] %>" published-date="<%= p["publicationDate"] %>" title="<%= p["title"] %>">
                    <a slot="title" href="/entities/publication/<%= p["id"] %>">
                      <%= p["title"] %>
                    </a>
                    <vivo-publication-author-list slot="authors">
                       <%= for (a) in p["authors"] { %>
                       <vivo-publication-author profile-url="/entities/person/<%= a["id"] %>">
                          <%= a["label"] %>
                       </vivo-publication-author>
                       <% } %>
                    </vivo-publication-author-list>
                    <%= if (p["publisher"]) { %>
                    <span slot="publisher"><%= p["publisher"]["label"] %></span>
                    <% } %>
                    <%= if (p["publicationDate"]) { %>
                      <span slot="date"><%= FormatGraphqlDate(p["publicationDate"],"yearMonthDay") %></span>
                    <% } %>
                    <%= if (p["abstractText"]) { %>
                    <vivo-truncated-text slot="abstract">
                      <%= raw(p["abstractText"]) %>
                    </vivo-truncated-text>
                    <% } %>
                 </vivo-publication>
               <% } %>
            </vivo-sortable-list>
         </vivo-tab-panel>
         <% } %>

        <%= if (person["researcherOn"]) { %>
         <vivo-tab id="research-expertise-tab">
           <h3><%= t("tab_research_expertise") %></h3>
         </vivo-tab>
         <vivo-tab-panel id="research-expertise-panel">
           <h4 class="section-title"><%= t("grants") %></h4>
           <vivo-sortable-list id="grant-list" item-type="grants" sortProperty="startDate" sortDirection="desc">
            <%= for (idx, p) in person["researcherOn"] { %>
              <vivo-grant url="/entities/grant/<%= p["id"] %>" start-date="<%= p["startDate"] %>" title="<%= p["label"] %>">
              <a slot="label" href="/entities/grant/<%= p["id"] %>">
               <%= p["label"] %>
              </a>
               <%= if (p["awardedBy"]) { %>
                <span slot="awardedBy">  awarded by  <%=p["awardedBy"]["label"] %></span>
               <% } %>
               <span slot="date"><vivo-interval interval-start="<%= FormatISODate(p["startDate"], "year") %>" interval-end="<%= FormatISODate(p["endDate"], "year") %>"></vivo-interval></span>
             </vivo-grant>
            <% } %>
          </vivo-sortable-list>
          </vivo-tab-panel>
          <% } %>

<!-- tab for teaching and expertise-->
          <%= if (person["teachingActivities"]) { %>
          <vivo-tab id="teaching-tab">
             <h3><%= t("tab_teaching_mentoring") %></h3>
          </vivo-tab>
          <vivo-tab-panel id="teaching-panel">
             <section>
               <%= if (person["teachingOverview"]) { %>
               <h4 class="section-title"><%= t("teaching_overview") %></h4>
               <div>
                  <%= raw(person["teachingOverview"]) %>
               </div>
               <% } %>
              </section>
              <section>
               <h4 class="section-title"><%= t("courses") %></h4>
             <% let courses = person["teachingActivities"] %>
             <vivo-course>
             <%= for (c) in courses { %>
                  <div slot="course-title"><%= c["label"] %></div>
               <%= if (c["role"]) { %>
                 <span slot="course-role"><%= c["role"] %></span>
               <% } %>
             <% } %>
             </vivo-course>
             </section>
          </vivo-tab-panel>
          <% } %>
   </main>

   <aside>
      <vivo-sidebar>
         <%= if (person["primaryEmail"] || person["phone"] || person["streetAddress"]) { %>
         <vivo-sidebar-item id="person-contact" hidden>
            <h3 slot="heading"><%= t("profile_contact") %></h3>
               <%= if (person["primaryEmail"]) { %>
              <div slot="content">
               <h4><%= t("email") %></h4><br>
               <span title="<%= person["primaryEmail"] %>">secondary.email<wbr>@duke.edu</span>
               <!-- <span title="<%= person["primaryEmail"] %>"><%= person["primaryEmail"] %></span> -->
              </div>
               <% } %>
               <%= if (person["phone"]) { %>
              <div slot="content">
               <h4><%= t("telephone") %></h4><br>
               <span><%= person["phone"] %></span>
              </div>
               <% } %>
               <%= if (person["streetAddress"]) { %>
              <div slot="content">
               <h4><%= t("address_1") %></h4><br>
               <span title="<%= person["streetAddress"] %>"><%= person["streetAddress"] %></span>
              </div>
               <% } %>
         </vivo-sidebar-item>
         <% } %>
         <%= if (person["websites"]) { %>
         <vivo-sidebar-item>
            <h3 slot="heading"><%= t("profile_professional_links") %></h3>
             <% let websites = person["websites"] %>
             <% SortByStringField(websites, "label") %>
             <%= for (w) in websites { %>
             <div slot="content" class="website">
                <a title="<%= w["label"] %>" class="prof-link" href="<%= w["url"] %>">
                   <%= w["label"] %>
                </a>
             </div>
             <% } %>
         </vivo-sidebar-item>
         <% } %>

         <%= if (person["researchAreas"]) { %>
           <vivo-sidebar-item>
            <h3 slot="heading"><%= t("keywords") %></h3>
            <% let researchAreas = person["researchAreas"] %>
             <% SortByStringField(researchAreas, "label") %>
            <%= for (k) in researchAreas { %>
            <div slot="content">
              <a title="<%= k["label"] %>" href="/entities/concepts/<%= k["id"] %>">
                <%= k["label"] %>
              </a>
            </div>
            <% } %>
           </vivo-sidebar-item>
         <% } %>
      </vivo-sidebar>
   </aside>


</div><!-- end container -->
<%= javascriptTag("person.js") %>
