<%
  let publication = data["document"]
%>
  <div class="entity-container">
    <h2 class="page-title"><%= raw(publication["title"]) %></h2>
    <div class="publication-heading">
      <%=if (publication["type"]) { %>
        <%= for (p) in publication["type"] { %>
        <h3 class="publication-type"><%= SplitCamelCase(p) %></h3>
      <% } %>
        <% } %>
      <%= if (publication["publicationDate"]) { %>
        <vivo-interval class="publication-date" interval-start="<%= FormatGraphqlDate(publication["publicationDate"], "yearMonthFullName") %>"></vivo-interval>
      <% } %>
      <%= if (publication["abstractText"]) { %>
          <vivo-entity-item class="abstract">
              <span slot="title">Abstract</span>
              <span slot="content">
                <%= raw(publication["abstractText"])%>
              </span>
          </vivo-entity-item>
      <% } %>
    </div>
    <div class="entity-content">
      <%= if (publication["authors"]) { %>
        <vivo-entity-item>
          <span slot="title">Authors</span>
          <span slot="content">
            <%= for (p) in publication["authors"] { %>
            <vivo-publication-author-list slot="authors">
                <vivo-publication-author>
                    <%= p["label"] %>
                </vivo-publication-author>
            <% } %>
            </vivo-publication-author-list>
            <% } %>
          </span>
        </vivo-entity-item>
      <% } %>
      <%= if (publication["authors"]) { %>
        <vivo-entity-item>
          <span slot="title">Linked Authors</span>
          <span slot="content">
          <%= for (p) in publication["authors"] { %>
             <a class="linked-authors" href="/entities/person/<%= p["id"] %>"><%= p["label"] %></a>
          <% } %>
          </span>
        </vivo-entity-item>
      <% } %>
      <%= if (publication["publicationVenue"]) { %>
        <vivo-entity-item>
          <span slot="title">Published In</span>
          <span slot="content"><%= publication["publicationVenue"]["label"] %></span>
        </vivo-entity-item>
      <% } %>
      <%=if (publication["volume"]) { %>
        <vivo-entity-item>
          <span slot="title">Volume/Issue</span>
          <span slot="content">Volume <%= publication["volume"] %> Issue <%= publication["issue"] %></span>
        </vivo-entity-item>
      <% } %>
      <%=if (publication["pageStart"]) { %>
        <vivo-entity-item>
          <span slot="title">Start/End Page</span>
          <span slot="content"> <%= publication["pageStart"] %> - <%= publication["pageEnd"] %></span>
        </vivo-entity-item>
      <% } %>
      <%=if (publication["doi"]) { %>
        <vivo-entity-item>
          <span slot="title">DOI</span>
          <span slot="content"> <%= publication["doi"] %></span>
        </vivo-entity-item>
      <% } %>
      <%= if (publicaton["translations"]) { %>
          <vivo-entity-item>
            <span slot="title">Language</span>
            <%= for (p) in publication["translations"] { %>
            <span slot="content"> <%= p["label"] %> </span>
            <% } %>
          </vivo-entity-item>
      <% } %>
    </div>
</div>
