<div class="row">
    <h2><%= raw(data["document"]["title"]) %></h2>
</div>

<div class="row">
    <h3><%= data["document"]["type"] %></h3>
</div>

<h4>Authors</h4>
<section class="author-list">
    <ul class="list-group">
    <%= for (p) in data["document"]["authors"] { %>
       <li class="list-group-item">
           <span class="person-name">
              <a href="/entities/person/<%= p["id"] %>">
                <%= p["label"] %>
             </a> 
           </span>
       </li>
    <% } %>
    </ul>
</section>
     
