<% let grant = data["relationship"] %>
<div class="entity-container">
    <h2 class="page-title"><%= raw(grant["title"]) %></h2>
    <div class="entity-content grant-page">
      <%= if (grant["dateTimeIntervalStart"] || grant["dateTimeIntervalEnd"] ) { %>
        <vivo-interval class="grant-date" interval-start="<%= FormatGraphqlDate(grant["dateTimeIntervalStart"], "year") %>" interval-end="<%= FormatGraphqlDate(grant["dateTimeIntervalEnd"], "year") %>"></vivo-interval>
      <% } %>
    <%= if (grant["awardedBy"]) { %>
      <vivo-entity-item>
        <span slot="title">Awarded By</span>
        <%= for (g) in grant["awardedBy"] { %>
          <span slot="content"><%= g["label"] %></span>
        <% } %>
      </vivo-entity-item>
    <% } %>
    <%= if (grant["principalInvestigators"]) { %>
      <vivo-entity-item>
        <span slot="title">Principal Investigators</span>
        <span slot="content">
          <%= for (g) in grant["principalInvestigators"] { %>
                    <a href="/entities/person/<%= g["id"] %>">
                      <%= g["label"] %>
                    </a><br>
          <% } %>
        </span>
      </vivo-entity-item>
    <% } %>
    <%= if (grant["coPrincipalInvestigators"]) { %>
      <vivo-entity-item>
        <span slot="title">Co-Investigators</span>
        <span slot="content">
          <%= for (g) in grant["coPrincipalInvestigators"] { %>
                    <a href="/entities/person/<%= g["id"] %>">
                      <%= g["label"] %>
                    </a><br>
          <% } %>
        </span>
    </vivo-entity-item>
  <% } %>
  <%= if (grant["contributors"]) { %>
    <vivo-entity-item>
      <span slot="title">Contributors</span>
      <%= for (g) in grant["contributors"] { %>
        <%= if ((g["role"] != "PrincipalInvestigatorRole") && (g["role"] != "coPrincipalInvestigatorsInvestigatorRole")) { %>
      <span slot="content">
                  <a href="/entities/person/<%= g["id"] %>">
                    <%= g["label"] %></a> <%= SplitCamelCase(g["role"]) %>
                    <br>
      </span>
      <% } %>
    <% } %>
    </vivo-entity-item>
  <% } %>
  <%= if (grant["subjectAreas"]) { %>
    <vivo-entity-item>
      <span slot="title">Research Areas</span>
      <span slot="content">
        <%= for (g) in grant["subjectAreas"] { %>
                  <a href="">
                    <%= g["label"] %>
                  </a><br>
        <% } %>
      </span>
    </vivo-entity-item>
    <% } %>
  </div>
</div>
