<%
 let totalItems = data["documents"]["page"]["totalElements"]
 let totalPages = FloatToInt(data["documents"]["page"]["totalPages"])
 let currentPage = FloatToInt(data["documents"]["page"]["number"])
 let results = data["documents"]["content"]

 let paging = FigurePagingInfo(currentPage, totalPages)
%>
<h4>Publications(<span><%= data["documents"]["page"]["totalElements"] %>)</span></h4>

<section class="publications">
  <ul class="list-group">
    <%= for (p) in data["documents"]["content"] { %>
    <li class="list-group-item">

      <span class="person-name">
        <a href="/entities/publication/<%= p["id"] %>">
          <%= raw(p["title"]) %>
        </a>
      </span>
    </li>
    <% } %>
  </ul>
</section>

<div><%= currentPage + 1 %> of Total Pages: <%= totalPages %></div>

<ul class="pagination">
  <%= if (paging.First.HasMore == true) { %>
  <li>
    <a class="page-link" href="?pageNumber=<%= paging.First.Previous %>">
      <span>&laquo; Previous</span>
    </a>
  </li>
  <% } %>
  <%= for (number) in paging.PageList { %>
  <li class="page-item <%=if (number == currentPage) { %>active<% } %>">
    <a class="page-link" href="?pageNumber=<%= number %>"><%= number + 1 %></a>
  </li>
  <% } %>
  <%= if (paging.Last.HasMore == true) { %>
  <li>
    <a class="page-link" href="?pageNumber=<%= paging.Last.Next %>">
      <span>&raquo; Next</span>
    </a>
  </li>
  <% } %>
</ul>
