<h4>Publications(<span><%= data["documentsPaged"]["page"]["totalElements"] %>)</span></h4>

<ul class="pagination">
        <%= for (index, number) in range(0, FloatToInt(data["documentsPaged"]["page"]["totalPages"]) - 1) { %>
            <li class="page-item <%=if (number == FloatToInt(data["documentsPaged"]["page"]["number"])) { %>active<% } %>">
                <a class="page-link" href="?pageNumber=<%= number %>"><%= number + 1 %></a>
            </li>
        <% } %>
    </ul> 
    <section class="author-list">
            <ul class="list-group">
            <%= for (p) in data["documentsPaged"]["content"] { %>
               <li class="list-group-item">
    
                   <span class="person-name">
                      <a href="/entities/publication/<%= p["id"] %>">
                        <%= p["title"] %>
                     </a> 
                   </span>
               </li>
            <% } %>
            </ul>
        </section>
    
        <ul class="pagination">
                <%= for (index, number) in range(0, FloatToInt(data["documentsPaged"]["page"]["totalPages"]) - 1) { %>
                    <li class="page-item <%=if (number == FloatToInt(data["documentsPaged"]["page"]["number"])) { %>active<% } %>">
                        <a class="page-link" href="?pageNumber=<%= number %>"><%= number + 1 %></a>
                    </li>
                <% } %>
        </ul> 
    
    
    