<%
 let totalItems = data["personsPaged"]["page"]["totalElements"]
 let totalPages = FloatToInt(data["personsPaged"]["page"]["totalPages"])
 let currentPage = FloatToInt(data["personsPaged"]["page"]["number"])
 let results = data["personsPaged"]["content"]

 let paging = FigurePagingInfo(currentPage, totalPages)
%>

<h4>People (<span><%= data["personsPaged"]["page"]["totalElements"] %>)</span></h4>

<div><%= FloatToInt(data["personsPaged"]["page"]["number"]) + 1 %> of Total Pages: <%= data["personsPaged"]["page"]["totalPages"] %></div>

<ul class="pagination">
    <%= for (index, number) in range(0, FloatToInt(data["personsPaged"]["page"]["totalPages"]) - 1) { %>
        <li class="page-item <%=if (number == FloatToInt(data["personsPaged"]["page"]["number"])) { %>active<% } %>">
            <a class="page-link" href="?pageNumber=<%= number %>"><%= number + 1 %></a>
        </li>
    <% } %>
</ul> 
<section class="author-list">
        <ul class="list-group">
        <%= for (p) in data["personsPaged"]["content"] { %>
           <li class="list-group-item">

               <span class="person-name">
                  <a href="/entities/person/<%= p["id"] %>">
                    <%= p["name"] %>
                 </a> 
               </span>
               <% if (p["thumbnail"] != "") { %>
               <img width="90" src="http://openvivo.org<%=p["thumbnail"] %>" />
               <% } %>
           </li>
        <% } %>
        </ul>
    </section>

    <ul class="pagination">
            <%= for (index, number) in range(0, FloatToInt(data["personsPaged"]["page"]["totalPages"]) - 1) { %>
                <li class="page-item <%=if (number == FloatToInt(data["personsPaged"]["page"]["number"])) { %>active<% } %>">
                    <a class="page-link" href="?pageNumber=<%= number %>"><%= number + 1 %></a>
                </li>
            <% } %>
    </ul> 


