<style type="text/css">
  :root {
    --primaryColor: <%= ThemeVariable("primaryColor") %>;
    --highlightColor: <%= ThemeVariable("highlightColor") %>;
    --highlightBackgroundColor: <%= ThemeVariable("highlightBackgroundColor") %>;
    --secondaryHighlightColor: <%= ThemeVariable("secondaryHighlightColor") %>;
    --linkColor: <%= ThemeVariable("linkColor") %>;
    --textColor: <%= ThemeVariable("textColor") %>;
    --darkNeutralColor: <%= ThemeVariable("darkNeutralColor") %>;
    --mediumNeutralColor: <%= ThemeVariable("mediumNeutralColor") %>;
    --lightNeutralColor: <%= ThemeVariable("lightNeutralColor") %>;
  }
</style>
