<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Red+Hat+Text">

    <title>Buffalo - Vivo Scholar</title>
    <%= partial("theme_variables") %>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">    
    <%= javascriptTag("vendor/custom-elements-es5-adapter.js") %>
    <%= javascriptTag("vendor/webcomponents-bundle.js") %>
    <%= javascriptTag("elements.js") %>
  </head>
  <body>
    <%= partial("header.html") %>
    <div class="container-fluid">
      <%= partial("flash.html") %>
      <%= yield %>
    </div>
    <%= javascriptTag("application.js") %>
  </body>
</html>
