<style>
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .background {
    display: flex;
    <%= if (ThemeVariable("backgroundImage") != "") { %>
    background: url('<%= assetPath("images/"+ThemeVariable("backgroundImage")) %>');
    <% } else { %>
    background: <%= ThemeVariable("backgroundColor") %>;
    <% } %>
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 50%;
  }


  vivo-site-search-box {
    font-size: 1.5em;
  }

  h2 {
      font-weight: bold;
      color: #FFFFFF;
      font-size: calc(1.2em + .7vw);
  }
  i {
      color: #FFFFFF;
      font-size: 2em;
      border: none;
      display: inline;
  }


  @media (max-width: 1675px) {
    h2 {
      font-size: calc(1.2em + .5vw);
    }
  }

  @media (max-width: 1450px) {
    h2 {
      font-size: calc(1.2em + .3vw);
    }
  }

  @media (max-width: 1250px) {
    h2 {
      font-size: calc(1.1em + .4vw);
    }
  }

  @media (max-width: 1500px) {
    vivo-site-search-box {
      font-size: calc(1em + .1vw);
    }
  }
  @media (max-width: 1250px) {
    .content {
      width: calc(55%);
    }
  }
  @media (max-width: 1100px) {
    .content {
      width: calc(60%);
    }
  }
  @media (max-width: 975px) {
    .content {
      width: calc(70%);
    }
  }
  @media (max-width: 800px) {
    .content {
      width: calc(85%);
    }
  }
  @media (max-width: 500px) {
    h2 {
      font-size: calc(1.1em + .4vw);
    }
    .content {
      width: calc(90%);
    }
  }
</style>

<div class="background">
  <div class="content">
    <h2><%= t("home_greeting") %></h2>
    <vivo-site-search-box class="site-search"
        action="/search/"
        label="<%= t("search") %>"
        placeholder="<%= t("home_search_text") %>"
    >
    <i slot="after" id="info-toggle" class="fas fa-info-circle"></i>
    <vivo-popup-message id="popup-text">
    <h3 slot="title">About VIVO Scholars</h3>
    <p slot="content">VIVO Scholar showcases the scholarly contributions and activities
    of the VIVO community. It includes up-to-date information on scholars'
    publications, grants, and contact information.</p>
    <a slot="link" href=" ">Learn more...</a>
    </vivo-popup-message>
    </vivo-site-search-box>
  </div>
</div>
