<style>
    html, body { height: 100%; width: 100%; margin: 0; }
    .content {
        <%= if (ThemeVariable("backgroundImage") != "") { %>
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url('<%= assetPath("images/"+ThemeVariable("backgroundImage")) %>');
        <% } else { %>
        background: <%= ThemeVariable("backgroundColor") %>;
        <% } %>
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .middle {
        position: fixed;
        top: 35%;
        left: 15%;
    }

    h2 {
        font-weight: bold;
        color: #FFFFFF;
        font-size: 2em;
    }
    i {
        color: #FFFFFF;
        font-size: 2em;
        padding-top: 0.5em; /* tricked into aligning */
        border: none;
        display: inline;
    }
</style>

<div class="content">
    <div class="middle">
        <h2>Discover the world of research and scholarship.</h2>
        <vivo-site-search-box class="site-search"
            action="/search/people"
            label="<%= t("search") %>" 
            placeholder="<%= t("home_search_text") %>"
        >
        <i slot="after" class="fas fa-info-circle"></i>
        </vivo-site-search-box>
    </div>
</div>