<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Vivo Scholar</title>
    <%= partial("theme_variables") %>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">    
    <%= javascriptTag("vendor/custom-elements-es5-adapter.js") %>
    <%= javascriptTag("vendor/webcomponents-bundle.js") %>
    <%= javascriptTag("elements.js") %>
  </head>
  <body>
    <vivo-site-header class="site-header">
      <%= partial("header_content.html") %>
    </vivo-site-header>

    <vivo-site-sub-header class="site-sub-header">
        <vivo-site-search-box id="sitewide-search" 
          class="site-search" 
          action="/search/people" 
          external-submit="true"
          label="<%= t("search") %>">
        </vivo-site-search-box>
      </vivo-site-sub-header>

      <div id="main">
          <%= yield %>      
      </div>
    <%= javascriptTag("application.js") %>
  </body>
</html>
