<vivo-search-navigation></vivo-search-navigation>

<div class="container">
  <!-- NOTE: facets and search are in separate sections
    the vivo-search-navigation elements uses the "search" attribute
    to figure out which search to attach to (by corresponding id)
  -->
  <aside>
     <vivo-sidebar>
        <vivo-search-person-facets search="person-search"></vivo-search-person-facets>
        <vivo-search-publication-facets search="publication-search"></vivo-search-publication-facets>
    </vivo-sidebar>
  </aside>

  <main>

    <vivo-tabs id="secondary-example" vivo-tab-style="secondary">
      <vivo-tab id="person-search-tab" selected>
        People (count)
      </vivo-tab>
  
      <vivo-tab-panel selected>  
        <!-- NOTE: the vivo-search-navigation element uses the id of the 
          tab ("person-search-tab") and lops off the "-tab" to figure
          out the active search id - if it could detect a <vivo-search>
          child element interface that might be better
        -->
        <vivo-person-search id="person-search"/>
      </vivo-tab-panel>
    
      <vivo-tab id="publication-search-tab">
        Publications (count)
      </vivo-tab>
  
      <vivo-tab-panel>
          <vivo-publication-search id="publication-search"/>
      </vivo-tab-panel>
    
    </vivo-tabs>

  </main>
</div>

<%= javascriptTag("search.js") %>